<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListCustomer</title>
</head>
<body>
<h3>All Songs</h3>
<p>
    <a th:href="@{/songs/create}">
        Add new song
    </a>
</p>

<table id = "songs">
    <thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Play</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${songs}">
        <td th:text="${s.title}"></td>
        <td th:text="${s.artist}"></td>
        <td th:text="${s.genre}"></td>
        <td><audio controls>
            <source th:src="@{'/songs/' + ${s.link}}" type="audio/mpeg">
            Browser does not support the audio tag.
        </audio>
        <p th:text="${s.link}"></p>
        </td>
        <td><a th:href="@{/songs/{id}/edit(id=${s.id})}">Edit</a></td>
        <td><a th:href="@{/songs/{id}/delete(id=${s.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
