<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailCustomer</title>
</head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/songs}">
        Back to playlist
    </a>
</p>
<div id="detail">
    <div class="cus-detail">
        <label>Title:</label>
        <label th:text="${song.title}"></label>
    </div>
    <div class="cus-detail">
        <label>Artist:</label>
        <label th:text="${song.artist}"></label>
    </div>
    <div class="cus-detail">
        <label>Genre:</label>
        <label th:text="${song.Genre}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
